.counter-container {
    margin: 20px auto;
    max-inline-size: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-block-start: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 4rem;
    margin: 20px 0;
}

button {
    margin: 5px;
}

.spacer {
    block-size: 4.1cm;
}