.not-found-container {
    text-align: center;
    margin-block-start: 100px;
}

.not-found-container h1 {
    font-size: 3rem;
    color: #ff6b6b;
}

.not-found-container p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.not-found-container .btn {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.spacer {
    block-size: 7cm;
}