<div class="spacer"></div>

<footer
  class="bg-dark text-white py-3 mt-auto footer-margin"
  style="margin-inline-start: -250px"
>
  <div
    class="container d-flex justify-content-between align-items-center flex-wrap"
  >
    <div class="text-start">
      <p class="mb-1">
        <strong>🏛️ Adresse :</strong> 123 Rue Ovide dieu 92 0021, 7000 Mons
        <i class="bi bi-geo-alt"></i>
      </p>
      <p class="mb-1">
        <strong>👤 Nom :</strong> Vincent Szmulikowski
        <i class="bi bi-person"></i>
      </p>
      <p class="mb-1">
        <strong>📞 Téléphone :</strong> +32 492 83 76 58
        <i class="bi bi-telephone"></i>
      </p>
    </div>

    <div class="text-center">
      <p class="mb-1">
        &copy; {{ currentYear }} Mon Application d'Exercice Angular
      </p>
      <p>Réalisé par <strong>Vincent Szmulikowski</strong></p>
      <div class="d-flex justify-content-center mt-2">
        <a
          href="https://www.linkedin.com/in/vincent-szmulikowski-122881151/"
          class="btn btn-primary me-2"
        >
          <i class="bi bi-info-circle"></i> En savoir plus
        </a>
        <a
          href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Fhl%3Dfr&emr=1&hl=fr&ifkv=AVdkyDm_M8ZEHhqhL1BAF1xq1Mea86bHBiE5uTiZuPshwX1E1rtylqGsNRySKK06DQJFgPbOGxyCiA&ltmpl=default&ltmplcache=2&osid=1&passive=true&rm=false&scc=1&service=mail&ss=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S1427731828%3A1736582403446080&ddm=1"
          class="btn btn-secondary"
        >
          <i class="bi bi-envelope"></i> Contactez-nous
        </a>
      </div>
    </div>

    <div class="text-end">
      <div class="footer-icons">
        <a
          href="https://www.facebook.com"
          class="mx-2 text-white"
          target="_blank"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="https://www.twitter.com"
          class="mx-2 text-white"
          target="_blank"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="https://www.linkedin.com"
          class="mx-2 text-white"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a
          href="https://www.instagram.com"
          class="mx-2 text-white"
          target="_blank"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
