<div class="spacer"></div>

<footer class="bg-dark text-white text-center py-3 mt-auto footer-margin">
  <div class="container">
    <p class="mb-1">
      &copy; {{ currentYear }} Mon Application d'Exercice Angular
    </p>
    <p>Réalisé par <strong>Vincent Szmulikowski</strong></p>
    <div class="footer-icons">
      <a href="https://www.facebook.com" class="mx-2" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.twitter.com" class="mx-2" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com" class="mx-2" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://www.instagram.com" class="mx-2" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
