<div style="inline-size: 230px" class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <button
        class="btn btn-outline-primary d-flex align-items-center"
        data-bs-toggle="modal"
        data-bs-target="#subNavModal"
      >
        <i class="fas fa-bars me-2"></i> Open Sub-Nav
      </button>
    </li>
  </ul>
</div>

<div
  class="modal fade"
  id="subNavModal"
  tabindex="-1"
  aria-labelledby="subNavModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    style="max-inline-size: 2320px; margin-block-start: -440px"
  >
    <div class="modal-content" style="block-size: 75px">
      <div class="modal-body d-flex align-items-center justify-content-center">
        <ul class="nav">
          <h5
            class="modal-title me-4 d-flex align-items-center"
            id="subNavModalLabel"
          >
            <i class="fas fa-compass me-2"></i> Sub-navigation
          </h5>

          <li class="nav-item">
            <a
              class="nav-link px-3 d-flex align-items-center"
              href="https://angular.dev/"
            >
              <i class="fas fa-home me-2"></i> Ressources Angular
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 d-flex align-items-center"
              href="https://getbootstrap.com/"
            >
              <i class="fas fa-user me-2"></i> Ressources Bootstrap
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 d-flex align-items-center"
              href="C:\Users\szmul\Desktop\Planning frontend V4.xlsx"
            >
              <i class="fas fa-concierge-bell me-2"></i> Ressources cours
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-3 d-flex align-items-center"
              href="https://technocite.be/contact/"
            >
              <i class="fas fa-envelope me-2"></i> Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
